#cont {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 140px); /* Ajuste para header y footer */
    margin-top: 80px;
    margin-bottom: 60px;
}

#info {
    border: #2563eb solid;
    position: relative; /* Posición relativa para que el icono se posicione sobre él */
    width: 100%;
    max-width: 400px;
    background: white;
    padding: 40px 20px 20px; /* Espacio extra arriba para acomodar la imagen */
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center; /* Centrar el contenido del formulario */
    margin-top: 100px; /* Baja todo el perfil */
}

#img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid #ccc;
    position: absolute;
    top: -48px; /* Hace que la imagen sobresalga por la mitad */
    left: 50%;
    transform: translateX(-50%);
    background: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex; /* Añadido para usar flexbox */
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
}

#icono_usuario {
    width: 70%;
    height: 70%;
    margin: 0  auto; /* Asegura que la imagen esté centrada */
}

#info {
    width: 100%;
    max-width: 400px;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.editar-btn {
    font-size: 0.875rem;
    padding: 5px 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.editar-btn:hover {
    background-color: #2563eb; /* Azul oscuro */
}